@import 'react-responsive-carousel/lib/styles/carousel.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  font-family: 'Playfair Display', serif;
}

// react-responsive-carousel overrides

.carousel.carousel-slider {
  border-radius: 16px;
  margin: 0 auto;
  max-width: 480px;
  .control-arrow {
    padding: 5px 25px;
  }
}

.carousel {
  .thumb {
    img {
      border-radius: 2px;
    }
  }
}
